<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/sign-up">Sign up</a>
        </div>
    </nav>

    

    <div class="main">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages%}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        {% block content %} {% endblock %}

    </div>



    <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
    ></script>

</body>
</html> 